---
// Ours
import { Label } from "../constants/main";
import * as style from "../styles/icon-button.styles";

// Types
interface Props {
  label: string;
  controls: string;
}

// Props
const { label, controls } = Astro.props;
---


<button
  id={label.toLowerCase()}
  class={style.root}
  type="button"
  aria-controls={controls}
  aria-expanded="false"
>
  <svg viewBox="0 0 20 20">

    {label === Label.CLOSE && (
      <>
        <path d="M5,5 15,15" />
        <path d="M15,5 5,15" />
      </>
    )}

    {label === Label.OPEN && (
      <>
        <path d="M4,6h12" />
        <path d="M4,10h12" />
        <path d="M4,14h12" />
      </>
    )}

  </svg>
  <span data-sr>{label}</span>
</button>
